*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

header{
  position: fixed;
  width: 100%;
  top: 0;
}

nav{
  padding: 1em;
}

.nav-link:hover, .nav-link.active{
  color: white;
}
